

*{
    overflow-y: hidden;
   
}

.container{
 position: relative;
 min-height: 100vh;
 overflow-y: hidden;
}


.adelante, .atras{
    position: absolute;
    cursor: pointer;
  
}

.adelante{
    top:50%;
    right: 6%;
}
.atras{
    top:50%;
    left: 6%;
}